<a href="#hero" class="arrow text-white dark:text-dark">
    <i class="fa-solid fa-arrow-turn-up"></i>
</a>

<style>
    .arrow{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 50px;
        padding: 1rem;
        border-radius: 50%;

        position: fixed;
        bottom: 25px;
        right: 25px;

        z-index: 999;

        
        background-color: #00c50180;
        
        transition: all ease .3s, color ease .3s;

        animation: arrow-fade ease both;
        animation-timeline: scroll(root);
        animation-range: 100px 200px;

    }
    
    .arrow:hover{
        scale: 1.1;
    }

    @media (width <= 1024px) {
        .arrow{
            display: none;
            bottom: 15px;
            right: 15px;
        }
    }

    @keyframes arrow-fade{
        0%{
            opacity: 0;
            transform: translateY(50px);
        }

        75%{
            opacity: 1;
            transform: translateY(-10px);
        }

        100%{
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>