---
interface Props {
    title: string;
    titleBold: string;
    description: string;
    image: string;
}

const { title, titleBold, description, image } = Astro.props;
---

<swiper-slide class="flex flex-col justify-center items-start h-full w-full">
    <img src=`./${ image }` class=" absolute left-0 top-0 h-full w-full object-cover -z-10" alt={ title } />
    
    <div class=" flex flex-col items-center justify-center gap-4 lg:px-32">
        <h1 class=" max-w-[20ch] font-primary text-5xl text-center text-blue text-pretty lg:text-start">{ title } <span class=" font-bold"> {titleBold} </span></h1>

        <p class=" text-dark text-pretty text-center max-w-[40ch] lg:text-start lg:max-w-[60ch]">{ description }</p>

        <div class=" flex flex-row items-center justify-center lg:justify-start gap-4 w-full">
            <a href="#tratamientos" class=" bg-white text-blue hover:bg-neutral-300 hover:text-blue dark:bg-dark dark:hover:bg-neutral-300 dark:text-white transition-colors duration-300 px-8 py-4"> <i class="fa-solid fa-angles-down text-blue dark:text-white"></i> Tratamientos</a>

            <a href="tel:644980090" class=" bg-green text-white hover:bg-blue hover:text-white transition-colors duration-300 px-8 py-4"> <i class="fa-solid fa-phone text-white"></i> Pedir Cita</a>
        </div>
    </div>
</swiper-slid>