<section id="about" class=" flex flex-col justify-center gap-8 my-16 px-8 lg:px-16">
    <h1 class="text-5xl font-bold text-blue dark:text-white text-center">Sobre Nosotros</h1>

    <main class="flex flex-col lg:flex-row items-start justify-between gap-8">
        <div class="flex flex-col justify-start gap-4">
            <h2 class="text-3xl text-blue font-bold dark:text-white">Experiencia y Compromiso</h2>

            <hr class="text-blue opacity-80 dark:text-green">

            <p class="max-w-[60ch] text-gray text-sm dark:text-white">Nos avalan más de <span>10 años de experiencia</span> y nuestra formación continua siempre a la vanguardia para ofrecer a cada paciente lo que necesita.</p>

            <p class="max-w-[60ch] text-gray text-sm dark:text-white">En Fisioterapia Movimiento y Vida, <span>nuestra prioridad es tu bienestar</span>. Desde nuestros inicios, hemos trabajado incansablemente para convertirnos en un referente en el campo de la fisioterapia en nuestra comunidad. Durante más de una década, hemos tenido el privilegio de ayudar a innumerables pacientes a recuperar su movilidad, aliviar su dolor y <span>mejorar su calidad de vida</span>.</p>

            <p class="max-w-[60ch] text-gray text-sm dark:text-white">Entendemos que cada paciente es único y merece una <span>atención personalizada</span>. Por eso, en Fisioterapia Movimiento y Vida, diseñamos planes de tratamiento individualizados que se adaptan a las necesidades específicas de cada persona. Utilizamos una combinación de técnicas manuales y ejercicios terapéuticos para garantizar resultados óptimos.</p>

            <h2 class="text-3xl text-blue font-bold dark:text-white">Contacto</h2>

            <hr class="text-blue opacity-80 dark:text-green">

            <div class="flex flex-col justify-center items-start gap-2 *:flex *:items-center *:justify-center *:gap-2 *:text-sm *:lg:text-base">
                <a href="tel:644285805" class="group">
                    <i class="fa-solid fa-phone text-green"></i>
                    <p class="text-blue dark:text-white font-bold group-hover:text-green"> <span class="prenumber group-hover:text-green">+34</span> 644 285 805</p>
                </a>

                <a href="mailto:fisioterapiamovimientoyvida@gmail.com" class="group">
                    <i class="fa-solid fa-envelope text-green"></i>
                    <p class="text-blue dark:text-white font-bold group-hover:text-green">fisioterapiamovimientoyvida<span class="prenumber group-hover:text-green">@gmail.com</span></p>
                </a>

                <a target="_blank" href="https://www.google.es/maps/place/Cl%C3%ADnica+de+Fisioterapia+Movimiento+y+Vida/@37.1688372,-3.6057376,17z/data=!3m1!4b1!4m6!3m5!1s0xd71fc9796484dfb:0xa82bf728ffb78705!8m2!3d37.168833!4d-3.6031627!16s%2Fg%2F11fzf09tz9?entry=ttu" class="group">
                    <i class="fa-solid fa-location-dot text-green"></i>
                    <p class="text-blue dark:text-white font-bold group-hover:text-green">C/Alhamar 37, 4ºB</p>
                </a>
            </div>
            
        </div>

        <div class="flex flex-col justify-start gap-4 w-full lg:max-w-[50%]">
            <h2 class="text-3xl font-bold text-blue dark:text-white">Encuéntranos</h2>

            <hr class="text-blue opacity-80 dark:text-green">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3179.32118944957!2d-3.60573762504209!3d37.168837246834514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd71fc9796484dfb%3A0xa82bf728ffb78705!2sCl%C3%ADnica%20de%20Fisioterapia%20Movimiento%20y%20Vida!5e0!3m2!1ses!2ses!4v1719944254070!5m2!1ses!2ses" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="border-none aspect-[100/75] w-full"></iframe>
        </div>

    </main>
</section>

<style>
    span{
        font-weight: bold;
        color: var(--blue);
    }

    html.dark span{
        color: var(--green);
    }

    .prenumber{
        opacity: 0.8;
        color: var(--blue);
        font-weight: normal;   
    }

    html.dark .prenumber{
        color: var(--white);
    }
</style>