<section class=" flex flex-col gap-16 my-16 px-8 md:px-16">
    <h1 class="text-5xl text-center text-blue font-bold">Aviso Legal</h1>

    <main class=" flex flex-col gap-8 *:flex *:flex-col *:gap-4">
        <div>
            <h2 class="text-blue font-bold text-3xl">1. Información</h2>
            
            <p>En cumplimiento con el deber de información recogido en el artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y Comercio Electrónico (LSSICE), a continuación se exponen los siguientes datos identificativos:</p>

            <div class="flex flex-col">
                <h3>Responsable del Sitio Web:</h3>
                <p>MOVIMIENTO Y VIDA</p>
            </div>

            <div class="flex flex-col">
                <h3>Domicilio Social:</h3>
                <p>Calle Alhamar N°37, 4°B, Granada.</p>
            </div>

            <div class="flex flex-col">
                <h3>Correo Electrónico:</h3>
                <p>fisioterapiamovimientoyvida@gmail.com</p>
            </div>

            <div class="flex flex-col">
                <h3>Teléfono:</h3>
                <p>+34 644 285 805</p>
            </div>
        </div>

        <div>
            <h2 class="text-blue font-bold text-3xl">2. Condiciones de Uso</h2>
            
            <p>El acceso y/o uso de este sitio web atribuye a quien lo realiza la condición de Usuario, aceptando, desde ese mismo momento, plenamente y sin reserva alguna, las presentes Condiciones Generales, así como las condiciones particulares que, en su caso, complementen, modifiquen o sustituyan las condiciones generales en relación con determinados servicios y contenidos del sitio web.</p>
        </div>

        <div>
            <h2 class="text-blue font-bold text-3xl">3. Objeto</h2>
            
            <p>A través de este sitio web se facilita a los Usuarios el acceso a información sobre servicios de fisioterapia y rehabilitación, ofreciendo tratamientos personalizados para mejorar la salud física y el bienestar de nuestros pacientes.</p>
        </div>

        <div>
            <h2 class="text-blue font-bold text-3xl">4. Privacidad y Tratamiento de Datos</h2>
            
            <p>Para más información sobre cómo tratamos sus datos personales, consulte nuestra <span><a target="_blank" href="privacy">Política de Privacidad.</a></span></p>
        </div>

        <div>
            <h2 class="text-blue font-bold text-3xl">5. Propiedad Industrial e Intelectual</h2>
            
            <p>Todos los derechos de propiedad intelectual e industrial sobre los contenidos y elementos de este sitio web, incluyendo a título enunciativo pero no limitativo, textos, imágenes, diseños, índices, formas, íconos, software, entre otros, así como su diseño gráfico y códigos fuente, son propiedad del Responsable del Sitio Web o de terceros, sin que puedan entenderse cedidos al Usuario ninguno de los derechos de explotación reconocidos por la normativa vigente en materia de propiedad intelectual e industrial.</p>

            <p>Queda expresamente prohibida la reproducción, distribución, comunicación pública, transformación, puesta a disposición, extracción y/o reutilización de la totalidad o parte de los contenidos de este sitio web, en cualquier soporte y por cualquier medio, sin la autorización previa y expresa del Responsable del Sitio Web.</p>
        </div>

        <div>
            <h2 class="text-blue font-bold text-3xl">6. Uso de Cookies</h2>
            
            <p>Este sitio web no utiliza cookies. Para más información sobre cómo tratamos sus datos personales, consulte nuestra <span><a target="_blank" href="privacy">Política de Privacidad.</a></span></p>
        </div>

        <div>
            <h2 class="text-blue font-bold text-3xl">7. Obligaciones del Usuario</h2>
            
            <p>El Usuario se compromete a utilizar el sitio web, sus servicios y contenidos sin contravenir la legislación vigente, la buena fe, los usos generalmente aceptados y el orden público. Asimismo, queda prohibido el uso del sitio web con fines ilícitos o lesivos contra el Responsable del Sitio Web o cualquier tercero, o que de cualquier forma puedan causar perjuicio o impedir el normal funcionamiento del sitio web.</p>
        </div>
        
        <div>
            <h2 class="text-blue font-bold text-3xl">8. Responsabilidades</h2>
            
            <p>El Responsable del Sitio Web no se hace responsable de los daños y perjuicios que pudieran derivarse de interferencias, omisiones, interrupciones, virus informáticos, averías telefónicas o desconexiones en el funcionamiento operativo de este sistema electrónico, motivadas por causas ajenas al Responsable del Sitio Web; de retrasos o bloqueos en el uso del presente sistema electrónico causados por deficiencias o sobrecargas en su Centro de Procesos de Datos, de líneas telefónicas, en el sistema de Internet o en otros sistemas electrónicos, así como de daños que puedan ser causados por terceras personas mediante intromisiones ilegítimas fuera del control del Responsable del Sitio Web.</p>

            <p class="fecha">Fecha de última actualización: 03/07/2024</p>
        </div>
    </main>
</section>

<style>
    h3{
        color: var(--blue);
        font-weight: bold;
    }

    p, li{
        color: var(--gray);
        font-size: 14px;
    }

    ol{
        list-style-type: decimal;
        margin-left: 2em;
    }

    ol li::marker {
        color: var(--blue); /* Cambia el color de los marcadores a azul */
        font-weight: bold;
    }

    span a{
        color: var(--blue);
        transition: all .3s ease;
    }

    span:hover a{
        text-decoration: underline;
    }

    .fecha{
        color: var(--blue);
        font-weight: bold;
    }
</style>