---
import DarkModeToggle from "../components/DarkModeToggle.astro"
import Arrow from "../components/Arrow.astro";
const fontAwesomeId = import.meta.env.FONT_AWESOME_ID;

---
    <header class="fixed w-full bg-neutral-50 bg-opacity-90 backdrop-blur-sm flex flex-row items-center justify-between px-4 py-8 mx-0 my-auto z-[990] dark:bg-dark">
        <a href="\" class="order-2 lg:order-1"><img src="./logo.png" alt="Vida y Movimiento Logo"></a>
        
        <nav class="hidden order-2 lg:flex flex-row items-center justify-center gap-16 *:text-blue *:transition-colors *:duration-300 *:dark:text-white ">
            <a href="#" class="hover:text-green dark:hover:text-green">Tratamientos</a>
            <a href="" class="hover:text-green dark:hover:text-green">Sobre Nosotros</a>
            <a href="" class="hover:text-green dark:hover:text-green">Contacto</a>
            <a href="" class="hover:text-green dark:hover:text-green">Reseñas</a>
            <DarkModeToggle><DarkModeToggle />
        </nav>
    
        <i class=" menu text-blue text-2xl cursor-pointer order-1 dark:text-white fa-solid fa-bars"></i>
    
        <aside class="media-menu fixed flex flex-col justify-start h-screen bg-white top-0 left-0 w-1/2 p-4 gap-8 hidden dark:bg-dark">
            <i class="close fa-solid fa-xmark text-3xl text-blue cursor-pointer dark:text-white"></i>
        
            <nav class="flex flex-col justify-center gap-4 *:text-blue *:transition-colors *:duration-300 *:dark:text-white">
                <a href="#" class="hover:text-green dark:hover:text-green">Tratamientos</a>
                <a href="" class="hover:text-green dark:hover:text-green">Sobre Nosotros</a>
                <a href="" class="hover:text-green dark:hover:text-green">Contacto</a>
                <DarkModeToggle><DarkModeToggle />
            </nav>
        </aside>
    </header>

    <Arrow></Arrow>

    <style>

        @media (width >= 1024px) {
            .menu{
                display: none;
            }
        }
        @keyframes slideright {
            0% {
                transform: translateX(-100%);
            }
            100% {
                transform: translateX(0);
            }
        }

        @keyframes slideleft {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-100%);
            }
        }

        .media-menu {
            animation: slideright 0.3s both;
        }

        .media-menu.slide-out {
            animation: slideleft 0.3s both;
        }
    </style>

    <script src=`https://kit.fontawesome.com/${fontAwesomeId}.js` crossorigin="anonymous"></script>
    <script>
        const menu = document.querySelector('.menu');
        const mediaMenu = document.querySelector('.media-menu');
        const close = document.querySelector('.close');
        const body = document.querySelector('body');

        menu.addEventListener('click', () => {
            mediaMenu.classList.remove('hidden', 'slide-out');
            mediaMenu.classList.add('slide-in');
            body.style.overflow = 'hidden';
        });

        close.addEventListener('click', () => {
            mediaMenu.classList.remove('slide-in');
            mediaMenu.classList.add('slide-out');
            body.style.overflow = 'auto';
            setTimeout(() => {
                mediaMenu.classList.add('hidden');
            }, 300);
        });
    </script>
</body>
</html>
