---
import DarkModeToggle from "../components/DarkModeToggle.astro"
import Arrow from "../components/Arrow.astro";
const fontAwesomeId = import.meta.env.FONT_AWESOME_ID;

---
    <header class="fixed w-full -top-2 left-0 bg-neutral-50 bg-opacity-90 backdrop-blur-sm flex flex-row items-center justify-between px-4 py-8 mx-0 my-auto z-[990] dark:bg-dark">
        <a href="/" class="order-2 lg:order-1 max-w-[200px] md:max-w-[240px]"><img src="./logo.webp" alt="Vida y Movimiento Logo"></a>
        
        <nav class="hidden order-2 lg:flex flex-row items-center justify-center gap-16 *:text-blue *:transition-colors *:duration-300 *:dark:text-white ">
            <a href="#tratamientos" class="hover:text-green dark:hover:text-green">Tratamientos</a>
            <a href="#about" class="hover:text-green dark:hover:text-green">Sobre Nosotros</a>
            <a href="#resenas" class="hover:text-green dark:hover:text-green">Reseñas</a>
            <DarkModeToggle><DarkModeToggle />
        </nav>
    
        <i class=" menu text-blue text-2xl cursor-pointer order-1 dark:text-white fa-solid fa-bars"></i>
    
        <aside class="media-menu fixed flex flex-col justify-start h-screen bg-white top-0 left-0 w-1/2 p-4 gap-8 hidden dark:bg-dark">
            <i class="close fa-solid fa-xmark text-3xl text-blue cursor-pointer dark:text-white"></i>
        
            <nav class="flex flex-col justify-center gap-4 *:text-blue *:transition-colors *:duration-300 *:dark:text-white">
                <a href="#hero" class="hover:text-green dark:hover:text-green">Inicio</a>
                <a href="#tratamientos" class="hover:text-green dark:hover:text-green">Tratamientos</a>
                <a href="#about" class="hover:text-green dark:hover:text-green">Sobre Nosotros</a>
                <a href="#resenas" class="hover:text-green dark:hover:text-green">Reseñas</a>
                <DarkModeToggle><DarkModeToggle />
            </nav>
        </aside>
    </header>

    <Arrow></Arrow>

    <style>

        @media (width >= 1024px) {
            .menu{
                display: none;
            }
        }
        @keyframes slideright {
            0% {
                transform: translateX(-100%);
            }
            100% {
                transform: translateX(0);
            }
        }

        @keyframes slideleft {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-100%);
            }
        }

        .media-menu {
            animation: slideright 0.3s both;
        }

        .media-menu.slide-out {
            animation: slideleft 0.3s both;
        }

        @keyframes slideDown {
    from {
        top: -120px;
    }
    to {
        top: 0;
    }
}

    @keyframes slideUp {
        from {
            top: 0;
        }
        to {
            top: -120px;
        }
    }

    .header-hidden {
        animation: slideUp 0.5s forwards;
    }

    .header-visible {
        animation: slideDown 0.5s forwards;
    }
    </style>

    <script src=`https://kit.fontawesome.com/${fontAwesomeId}.js` crossorigin="anonymous"></script>
        <script>
        let ultimaPosicionScroll = window.pageYOffset;
        window.addEventListener('scroll', function() {
            const header = document.querySelector('header');
            let posicionActualScroll = window.pageYOffset;
            
            if (ultimaPosicionScroll < posicionActualScroll) {
                // Scroll hacia abajo
                header.classList.remove('header-visible');
                header.classList.add('header-hidden');
            } else {
                // Scroll hacia arriba
                header.classList.remove('header-hidden');
                header.classList.add('header-visible');
            }
            ultimaPosicionScroll = posicionActualScroll;
        });
        
        const menu = document.querySelector('.menu');
        const mediaMenu = document.querySelector('.media-menu');
        const close = document.querySelector('.close');
        const body = document.querySelector('body');
    
        menu.addEventListener('click', () => {
            mediaMenu.classList.remove('hidden', 'slide-out');
            mediaMenu.classList.add('slide-in');
            body.style.overflow = 'hidden';
        });
    
        close.addEventListener('click', closeMenu);
    
        document.addEventListener('click', (event) => {
            // Verifica si el clic fue fuera del menú y no es el botón de menú
            if (!mediaMenu.contains(event.target as Node) && !menu.contains(event.target as Node)) {
                closeMenu();
            }
        });
    
        function closeMenu() {
            mediaMenu.classList.remove('slide-in');
            mediaMenu.classList.add('slide-out');
            body.style.overflow = 'auto';
            setTimeout(() => {
                mediaMenu.classList.add('hidden');
            }, 300);
        }
    </script>
</body>
</html>
