<section class=" flex flex-col gap-16 my-16 px-8 md:px-16">
    <h1 class="text-5xl text-center text-blue font-bold">Política de Privacidad</h1>

    <main class=" flex flex-col gap-8 *:flex *:flex-col *:gap-4">
        <div>
            <h2 class="text-blue font-bold text-3xl">1. Introducción</h2>
            
            <p>MOVIMIENTO Y VIDA, en aplicación de la normativa vigente en materia de protección de datos de carácter personal, informa que los datos personales que se recogen a través de los enlaces de contacto (teléfono y correo electrónico) en el Sitio web: <span><a href="https://fisioterapiamovimientoyvida.es/">https://fisioterapiamovimientoyvida.es</a></span>, se incluyen en los ficheros automatizados específicos de usuarios de los servicios de MOVIMIENTO Y VIDA.</p>

            <p>La recogida y tratamiento automatizado de los datos de carácter personal tiene como finalidad el mantenimiento de la relación comercial y el desempeño de tareas de información, asesoramiento y otras actividades propias de MOVIMIENTO Y VIDA.</p>

            <p>Estos datos únicamente serán cedidos a aquellas entidades que sean necesarias con el único objetivo de dar cumplimiento a la finalidad anteriormente expuesta.</p>

            <p>MOVIMIENTO Y VIDA adopta las medidas necesarias para garantizar la seguridad, integridad y confidencialidad de los datos conforme a lo dispuesto en el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de los mismos (RGPD).</p>

            <p>El usuario podrá en cualquier momento ejercitar los derechos de acceso, oposición, rectificación y supresión reconocidos en el citado Reglamento (UE). El ejercicio de estos derechos puede realizarlo el propio usuario a través de un correo electrónico a: fisioterapiamovimientoyvida@gmail.com o en la dirección: Calle Alhamar N°37, 4°B, Granada.</p>

            <p>El usuario manifiesta que todos los datos facilitados por él son ciertos y correctos, y se compromete a mantenerlos actualizados, comunicando los cambios a MOVIMIENTO Y VIDA.</p>
        </div>

        <div>
            <h2 class="text-blue font-bold text-3xl">2. Finalidad</h2>
            
            <p>En MOVIMIENTO Y VIDA, trataremos tus datos personales recabados a través del Sitio Web: <span><a href="https://fisioterapiamovimientoyvida.es/">https://fisioterapiamovimientoyvida.es/</a></span>, con las siguientes finalidades:</p>

            <ol>
                <li>En caso de consultas realizadas a través de teléfono o correo electrónico, para responder a dichas consultas y proporcionar la información solicitada.</li>
                <li>Envío de información sobre los servicios y actividades de MOVIMIENTO Y VIDA.</li>
                <li>Facilitar la ubicación de nuestra clínica mediante el enlace a Google Maps.</li>
            </ol>

            <p>
                Te recordamos que puedes oponerte al envío de comunicaciones comerciales por cualquier vía y en cualquier momento, remitiendo un correo electrónico a la dirección indicada anteriormente.
            </p>

            <p>Los campos de dichos registros son de cumplimentación obligatoria, siendo imposible realizar las finalidades expresadas si no se aportan esos datos.</p>

            <h3>¿Por cuánto tiempo se conservan los datos personales recabados?</h3>
            
            <p>Los datos personales proporcionados se conservarán mientras se mantenga la relación comercial o no solicites su supresión y durante el plazo por el cual pudieran derivarse responsabilidades legales por los servicios prestados.</p>
        </div>

        <div>
            <h2 class="text-blue font-bold text-3xl">3. Legitimación</h2>
            
            <p>El tratamiento de tus datos se realiza con las siguientes bases jurídicas que legitiman el mismo:</p>

            <ol>
                <li>La solicitud de información y/o la contratación de los servicios de MOVIMIENTO Y VIDA, cuyos términos y condiciones se pondrán a tu disposición en todo caso, de forma previa a una eventual contratación.</li>
                <li>El consentimiento libre, específico, informado e inequívoco, en tanto que te informamos poniendo a tu disposición la presente política de privacidad, que tras la lectura de la misma, en caso de estar conforme, puedes aceptar mediante una declaración o una clara acción afirmativa, como el marcado de una casilla dispuesta al efecto.</li>
            </ol>

            <p>En caso de que no nos facilites tus datos o lo hagas de forma errónea o incompleta, no podremos atender tu solicitud, resultando del todo imposible proporcionarte la información solicitada o llevar a cabo la contratación de los servicios.</p>
        </div>

        <div>
            <h2 class="text-blue font-bold text-3xl">4. Destinatarios</h2>
            
            <p>Los datos no se comunicarán a ningún tercero ajeno a MOVIMIENTO Y VIDA, salvo obligación legal.</p>
        </div>

        <div>
            <h2 class="text-blue font-bold text-3xl">5. Derechos de propiedad intelectual</h2>
            
            <p>MOVIMIENTO Y VIDA es titular de todos los derechos de autor, propiedad intelectual, industrial, “know how” y cuantos otros derechos guardan relación con los contenidos del sitio web <span><a href="https://fisioterapiamovimientoyvida.es/">https://fisioterapiamovimientoyvida.es/</a></span> y los servicios ofertados en el mismo.</p>

            <p>No se permite la reproducción, publicación y/o uso no estrictamente privado de los contenidos, totales o parciales, del sitio web <span><a href="https://fisioterapiamovimientoyvida.es/">https://fisioterapiamovimientoyvida.es/</a></span> sin el consentimiento previo y por escrito.</p>
        </div>

        <div>
            <h2 class="text-blue font-bold text-3xl">6. Comunicaciones comerciales</h2>
            
            <p>En aplicación de la LSSI. MOVIMIENTO Y VIDA no enviará comunicaciones publicitarias o promocionales por correo electrónico u otro medio de comunicación electrónica equivalente que previamente no hubieran sido solicitadas o expresamente autorizadas por los destinatarios de las mismas.</p>

            <p>En todo caso, el usuario, tras acreditar su identidad, podrá solicitar que no se le haga llegar más información comercial a través de cualquier método de contacto.</p>

            <p class="fecha">Fecha de última actualización: 03/07/2024</p>
        </div>
    </main>
</section>

<style>
    h3{
        color: var(--blue);
        font-weight: bold;
    }

    p, li{
        color: var(--gray);
        font-size: 14px;
    }

    ol{
        list-style-type: decimal;
        margin-left: 2em;
    }

    ol li::marker {
        color: var(--blue); /* Cambia el color de los marcadores a azul */
        font-weight: bold;
    }

    span a{
        color: var(--blue);
        transition: all .3s ease;
    }

    span:hover a{
        text-decoration: underline;
    }

    .fecha{
        color: var(--blue);
        font-weight: bold;
    }
</style>