---
import Treatment from "../components/Treatment.astro"
---


<section class="flex flex-col items-center justify-center gap-8 p-8" id="tratamientos">
    <h1 class=" text-blue dark:text-white text-5xl font-bold font-primary">Tratamientos</h1>

    <div class=" flex flex-col items-center justify-center gap-8 md:grid md:grid-cols-3 lg:grid-cols-5 lg:gap-x-8 lg:gap-y-16">
        <Treatment
            title="Cadenas Musculares"
            subtitle="Movimiento y vida"
            image="cadenas-musculares.webp">
        </Treatment>

        <Treatment
            title="Cráneo"
            subtitle="Movimiento y vida"
            image="craneo.webp">
        </Treatment>

        <Treatment
            title="Drenaje Linfático Manual"
            subtitle="Movimiento y vida"
            image="drenaje.webp">
        </Treatment>
        
        <Treatment
            title="Ejercicio Terapéutico"
            subtitle="Movimiento y vida"
            image="ejercicio-terapeutico.webp">
        </Treatment>

        <Treatment
            title="Espalda"
            subtitle="Movimiento y vida"
            image="espalda.webp">
        </Treatment>

        <Treatment
            title="Kinesio Taping"
            subtitle="Movimiento y vida"
            image="kinesio-taping.webp">
        </Treatment>

        <Treatment
            title="Punción Seca"
            subtitle="Movimiento y vida"
            image="puncion-seca.webp">
        </Treatment>

        <Treatment
            title="Reeducación Postural"
            subtitle="Movimiento y vida"
            image="reeducacion-postural.webp">
        </Treatment>

        <Treatment
            title="Terapia Manual"
            subtitle="Movimiento y vida"
            image="terapia-manual.webp">
        </Treatment>

        <Treatment
            title="Termoterapia"
            subtitle="Movimiento y vida"
            image="termoterapia.webp">
        </Treatment>
        
    </div>
</section>