---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Clínica de Fisioterapia y Rehabilitación en Granada. El aspecto más importante de nuestra clínica de fisioterapia es la salud" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class=" bg-white dark:bg-gray">
		<slot />
	</body>
</html>
<style is:global>
	:root {

		/* Fonts */
		--primaryFont: 'Raleway Variable', sans-serif;
		--secondaryFont: 'Roboto', sans-serif;

		/* Colors */
		--dark: #3e3e40ff;
		--gray: #48484aff;
		--lightGray: #596a7aff;
		--blue: #5c669bff;
		--green: #85c225ff;
		--white: #ffffffff;

		
	}
	
	*, *::before, *::after {
		box-sizing: border-box;
		@apply transition-colors duration-300;
	}

	html {
		font-size: 16px;
		/* scrollbar-width: none; */
		
		scrollbar-color: var(--blue) var(--white);
		scrollbar-width: thin;
		scroll-behavior: smooth;
	}

	.dark{
		scrollbar-color: var(--green) var(--dark);

	}

	body {
		margin: 0;
		padding: 0;
		font-family: var(--secondaryFont);

	}

	h1, h2, h3, h4, h5, h6, p{
		margin: 0;
		color: var(--dark);
	}

	ul, ol {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	a {
		text-decoration: none;
	}
</style>
